@font-family {
    src: url("assets/fonts/harryp.ttf")
}

@font-family {
    src: url("assets/fonts/lumos.ttf")
}

  /*  font-family: 'Caudex', serif;

    font-family: 'Chelsea Market', cursive;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

/*--------------title-----------------------------------------------------------------*/

.title {
    font-family: 'harryp', 'Chelsea Market';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 90px;
    margin: auto;
    padding: 40px 0;
}

.message {
    font-family: 'lumos', 'Caudex';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.info {
    font-family: 'harryp', 'Chelsea Market';
    font-size: 45px; 
    flex-wrap: wrap;
    text-align: center;
}

.start {
    font-family: 'harryp', 'Chelsea Market';
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.info.div {
    text-align: center;
}

.backdrop > h1 {
    text-align: center;
}

.backdrop > h3 {
    text-align: center;
}

/*--------------grid-----------------------------------------------------------------*/

section.container {
    margin: 30px;
    padding: 100px;
}

#grid-area {
    display: inline-block;
    justify-items: center;
    margin: 90px;
    perspective: 1000px;
}

.row-area {
    justify-content: center;
    display: flex;
}

.card {
    position: relative;
    height: 230px;
    max-width: 170px;
    transform-style: preserve-3d;
    transition: 1.5s;
    object-position: center;
    padding: 0;
    border: none;
}

.bcard {
    position: absolute;
    height: 95%;
    width: 95%;
    margin: auto;
    border: 3px solid #9c1203;
    background: url("../images/crest.jpg") center;
    background-size: 50%;
    border-radius: 15px;
    backface-visibility: hidden;
}

.fcard {
    position: absolute;
    height: 95%;
    width: 95%;
    margin: auto;
    border: 3px solid #9c1203;
   /*background: yellow;*/
    background-size: 50%;
    border-radius: 15px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    right: 0;
}


.card:hover {
    transform: rotateY(180deg);
}




/*--------------colour-----------------------------------------------------------------*/
.title, .start, .info {
    color: #9c1203;
}

.message {
    color: #e3a000;
}