@font-family {
    src: url("assets/fonts/harryp.ttf")
}

@font-family {
    src: url("assets/fonts/lumos.ttf")
}

  /*  font-family: 'Caudex', serif;

    font-family: 'Chelsea Market', cursive;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

/*--------------title-----------------------------------------------------------------*/

.title {
    font-family: 'harryp', 'Chelsea Market';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 60px;
    margin: auto;
    padding: 40px 0;
}

.message {
    font-family: 'lumos', 'Caudex';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.info {
    font-family: 'harryp', 'Chelsea Market';
    font-size: 45px; 
    flex-wrap: wrap;
    text-align: center;
}

.start {
    display: flex;
    font-family: 'harryp', 'Chelsea Market';
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 45px;
    padding: 0;
    justify-content: center;
    border: none;
    background: none;
}

.start-btn {
    display: flex;
    margin: auto;
}

.info.div {
    text-align: center;
}

.backdrop {
    background: url(../images/hogwarts-banner.jpg) center no-repeat;
}

.backdrop > h1 {
    text-align: center;
}

.backdrop > h3 {
    text-align: center;
}

/*--------------grid-----------------------------------------------------------------*/

section.container {
    margin: auto;
    padding: 10px;

}

#grid-area {
    display: inline-block;
    justify-items: center;
    margin: 90px;
    perspective: 1000px;
}

.row-area {
    justify-content: center;
    display: flex;
    margin:4px;

}

.col-3 {
    background: none;
}
.card {
    position: relative;
    height: 130px;
    max-width: 75px;
    transform-style: preserve-3d;
    transition: 1.5s;
    object-position: center;
    padding: 0;
    border: none;
    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
}


.bcard {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 3px solid #9c1203;
    background: url("../images/crest.jpg") center;
    background-size: 50%;
    backface-visibility: hidden;
    border-radius: 12px;
}

.fcard {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 3px solid #9c1203;
   background: yellow;
    background-size: 50%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 12px;
}


.rotate {
    transform: rotateY(180deg);
}




/*--------------colour-----------------------------------------------------------------*/
.title, .start, .info {
    color: #9c1203;
}

.message {
    color: #e3a000;
}